<h2 mat-dialog-title
  style="display: flex; justify-content: center; color: rgb(209, 1, 1); font-size: 40px; padding-top: 20px;">確認</h2>
<mat-dialog-content>
  <div style="font-size: 20px; ">
    <span>確定是否刪除？</span>
    <br>
    <br>
    <span style="color: rgb(180, 1, 1);">(此動作無法復原)</span>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="closeButtonPressed()" mat-stroked-button style="color: black;">取消</button>
  <button (click)="OkButtonPressed()" mat-stroked-button style="color: rgb(0, 0, 0);">確定</button>
</mat-dialog-actions>
