<div style="padding-top: 10px; padding-bottom: 2%;font-size: large;">
  <div style="top: 5px; right:5px; text-align: right;">問卷時間：{{question.sDate}} ～ {{question.eDate}}</div>
  <div class="divCss">
    <div style="text-align: center; font-size: 50px;">
      {{question.title}}
    </div>
    <div>
      {{question.directions}}
      <br>
      <br>
      <br>
      <br>
      <span class="required">*</span>姓名 : <input class="inputCss" [disabled]="adminMode">
      <br>
      <span class="required">*</span>信箱 : <input class="inputCss" [disabled]="adminMode">
      <br>
      手機 : <input class="inputCss" [disabled]="adminMode">
      <br>
      年齡 : <input class="inputCss" [disabled]="adminMode">
    </div>
  </div>
  <div style="font-size: larger; padding-bottom: 30px;">
    <ol>
      @for(question of question.questionArray; track $index){
      <li>
        <h5>
          @if(question.required == true){
          <span class="required">*</span>
          }
          {{question.questName}}
        </h5>

      </li>
      @if(question.questionType == 'Multi'){
      @for(option of question.options;track $index){
      <input class="option" type="checkbox" [disabled]="adminMode">{{option.optionName}}<br>
      }
      }
      @if(question.questionType == 'Single'){
      @for(option of question.options;track $index){
      <input class="option" type="radio" [disabled]="adminMode" [name]="question.ID"
        [value]="option.questionID">{{option.optionName}}<br>
      }
      }
      @if(question.questionType == 'Text'){
      <textarea class="textInput" [disabled]="adminMode"></textarea>
      }
      }

    </ol>

    <button mat-raised-button style="float: right; margin-right: 20px" (click)="releaseButtonPressed()">儲存且發布</button>
    <button mat-raised-button style="float: right; margin-right: 20px" (click)="goBackButtonPressed()">返回</button>
    <button mat-raised-button style="float: right; margin-right: 20px" (click)="saveButtonPressed()">儲存不發布</button>
  </div>
</div>
